.dockerignore
Dockerfile*

.gitignore
/.bundle
/.git
/log
/public/assets
/shared
/spec
/tmp

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

*.sqlite3
#*
*#
*~
~*
