<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "gi_raycaster/engine", media: "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag  "gi_raycaster/caster/module", defer: true %>
  <%= javascript_include_tag  "gi_raycaster/engine", defer: true %>
<% end %>

<% content_for :head do %>
  <title>Raycaster Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<% end %>

<%= render template: "layouts/application" %>
