= form_with(url: local_assigns[:submit_url] ? submit_url : '', method: :post, local: true) do
  .form-row
    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_brand' }
        Brand
      .input-group
        .input-group-prepend
          .input-group-text
            %input{ id: 'select_brand_sync', type: "checkbox" }
        %select{ id: 'select_brand',
          name: 'select_brand',
          class: 'js-svelte-select form-control',
          data: { ki_typeahead: 'true' } }
          %option.text-muted{ selected: true, value: '' }
            Select...
          %option{ value: 1, data: { item_desc: 'jippo 1' } }
            Dickmish
          %option{ value: 2, data: { item_desc: 'Shut up!' } }
            Mashmish
          %option{ value: 3, data: { item_desc: 'WE are IT' } }
            EColish
          %option{ value: 4, data: { item_desc: 'Yours truly' } }
            KamaSura
          %option{ value: 5, data: { item_desc: 'Not for everyone' } }
            Uberline

    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_style' }
        Style
      %select{ id: 'select_style',
        name: 'select_style',
        class: 'js-svelte-select form-control',
        data: { ki_typeahead: 'true' } }
        %option.text-muted{ selected: true, value: '' }
          Optional
        %option{ value: 'style_1', data: { item_desc: 'Smooth' } }
          Yinky
        %option{ value: 'style_2', data: { item_desc: 'squeek, squeek' } }
          Skueeky
        %option{ value: 'style_3', data: { item_desc: 'For brave' } }
          Bold
        %option{ value: 'style_4', data: { item_desc: 'For mantzurian' } }
          Bald
        %option{ value: 'style_5', data: { item_desc: 'Bland' } }
          Hairy

    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_multi_1' }
        Multiselect
      %input{ type: 'hidden', name: 'select_multi_1[]', value: nil }
      %select{ id: 'select_multi_1',
        name: 'select_multi_1[]',
        class: 'js-svelte-select form-control',
        multiple: true,
        data: { ki_typeahead: 'true', ki_placeholder: 'Optional', ki_max_items: 3 } }
        %option{ value: 'style_1', data: { item_desc: 'Smooth' } }
          Yinky
        %option{ value: 'style_2', data: { item_desc: 'squeek, squeek' } }
          Skueeky
        %option{ value: 'style_3', data: { item_desc: 'For brave' } }
          Bold
        %option{ value: 'style_4', data: { item_desc: 'For mantzurian' } }
          Bald
        %option{ value: 'style_5', data: { item_desc: 'Bland' } }
          Hairy 1
        %option{ value: 'style_6', data: { item_desc: 'Bland' } }
          Hairy 2
        %option{ value: 'style_7', data: { item_desc: 'Bland' } }
          Hairy 3
        %option{ value: 'style_8', data: { item_desc: 'Bland' } }
          Hairy 4
        %option{ value: 'style_9', data: { item_desc: 'Bland' } }
          Hairy 5
        %option{ value: 'style_10', data: { item_desc: 'Bland' } }
          Hairy 6

    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_enabled' }
        Plain select
      %select{ id: 'select_enabled',
        name: 'select_enabled',
        class: 'js-svelte-select form-control' }
        %option{ selected: true, value: 'true', data: { item_class: 'text-success' } }
          Yes
        %option{ value: 'false', data: { item_class: 'text-danger' } }
          No

  .form-row
    .form-group.col-12.col-sm-6.col-lg-3
      - selected = SearchController.fake_entries[20]

      %label{ for: 'select_rest_1' }
        REST
      %select{ id: 'select_rest_1',
        name: 'select_rest_1',
        class: 'js-svelte-select form-control',
        data: { ki_fetch_url: search_xhr_search_index_path,
          ki_fetch_limit: 20,
          ki_fetch_query_min_len: 0,
          ki_typeahead: 'true' } }
        -#%option{ value: '', data: { item_fixed: true } }
          Optional
        %option{ value: 'SELECT_POPUP', data: { item_fixed: true, item_action: 'select_popup' } }
          Select...
        %option{ selected: true, value: selected[:id], data: { item_desc: selected[:desc] } }
          = selected[:text]

    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_opt_2' }
        Plain Optional
      %select{ id: 'select_opt_2',
        name: 'select_opt_2',
        class: 'js-svelte-select form-control' }
        %option{ selected: true, value: nil }
          Optional
        %option{ value: 'true', data: { item_class: 'text-success' } }
          Yes
        %option{ value: 'false', data: { item_class: 'text-danger' } }
          No

    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_empty' }
        Empty
      %select{ id: 'select_empty',
        name: 'select_empty',
        class: 'js-svelte-select form-control' }
        %option{ selected: true, value: nil }
          Optional

    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_foo_2' }
        Fake select
      %button.form-control.d-flex{ type: 'button', id: "select_foo_2", name: 'select_foo_2' }
        %span.mr-auto
          Foo, bar
        %span
          %i.text-dark.fas.fa-caret-down

    .form-group.col-12.col-sm-6.col-lg-3
      %label{ for: 'select_system' }
        OS select
      %select{ id: 'select_system',
        name: 'select_system',
        class: 'form-control' }
        %option{ selected: true, value: 'true' }
          Yes
        %option{ value: 'false' }
          No
        %option{ value: 'maybe' }
          Maybe
        %option{ value: 'fish' }
          Fish

  - if local_assigns[:submit_url]
    %button.btn.btn-primary
      Submit

- if local_assigns[:submit_url]
  %hr
  %pre
    = Oj.dump(params.permit!.to_h, indent: 2, mode: :compat)
