= javascript_pack_tag 'hello_svelte'
-#= stylesheet_pack_tag 'hello_svelte'

.p-2
  %h1
    Hello

%hr
.p-2
  Svelte hello appears here
  .svelte-hello{ data: { msg: 'hello 1' } }

  and this is below it
  .svelte-hello{ data: { msg: 'hello 2' } }
