= javascript_pack_tag 'hello_svelte'
-#= stylesheet_pack_tag 'hello_svelte'

.p-2
  %h1
    Hello

  %form
    .form-row
      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_quicksearch' }
          Search local
        %input{ name: "sf_quicksearch",
          id: "sf_quicksearch",
          placeholder: 'type...',
          class: 'js-search-field form-control js-typeahead',
          value: '' }
      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_quicksearch_2' }
          Search REST
        %input{ name: "sf_quicksearch_2",
          id: "sf_quicksearch_2",
          placeholder: 'search...',
          class: 'js-search-field form-control js-typeahead',
          data: { ki_fetch_url: search_xhr_search_index_path },
          value: '' }
      .form-group.col-12.col-sm-6.col-lg-3
        %label
          Bar
        %input.form-control{ name: "foo2", id: "bar3" }
      .form-group.col-12.col-sm-6.col-lg-3
        %label
          Zoo
        %input.form-control{ name: "foo2", id: "bar4" }
    .form-row
      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_select_1' }
          Quicksearch
        %select{ id: 'sf_select_1',
          class: 'form-control' }
          %option
            Foo
          %option
            Aoo
          %option
            Boo
          %option
            Coo
          %option
            Doo

%hr
.p-2
  Svelte hello appears here
  .svelte-hello{ data: { msg: 'hello 1' } }

  and this is below it
  .svelte-hello{ data: { msg: 'hello 2' } }
