= javascript_pack_tag 'hello_svelte'
= stylesheet_pack_tag 'hello_svelte'

<h1>hello</h2>

Svelte hello appears here
.svelte-hello{ data: { msg: 'hello 1' } }

and this is below it
.svelte-hello{ data: { msg: 'hello 2' } }
