= javascript_pack_tag 'select_svelte'

.p-2
  %h1
    Select test

  = render partial: 'select_svelte_form', locals: { submit_url: select_svelte_test_index_path }

.fixed-bottom.border-top.bg-white
  .float-right
    .m-2.mr-3
      %a{ href: 'https://github.com/kikonen/select_svelte' }
        = image_tag('GitHub-Mark-32px.png', width: 16, height: !6)
        select_svelte
