= javascript_pack_tag 'typeahead_svelte'

.p-2
  %h1
    Typeahead test

  = render partial: 'typeahead_svelte_form'

.fixed-bottom.border-top.bg-white
  .float-right
    .m-2.mr-3
      %a{ href: 'https://github.com/kikonen/typeahead_svelte' }
        = image_tag('GitHub-Mark-32px.png', width: 16, height: !6)
        typeahead_svelte
