= javascript_pack_tag 'typeahead_svelte'

.p-2
  %h1
    Typeahead test

  %form
    .form-row
      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_quicksearch' }
          Search local
        %input{ name: "sf_quicksearch",
          id: "sf_quicksearch",
          placeholder: 'type...',
          class: 'js-search-field form-control js-typeahead',
          value: '' }
      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_quicksearch_2' }
          Search REST
        %input{ name: "sf_quicksearch_2",
          id: "sf_quicksearch_2",
          placeholder: '0 char min...',
          class: 'js-search-field form-control js-typeahead',
          data: { ki_fetch_url: search_xhr_search_index_path,
            ki_fetch_limit: 20,
            ki_fetch_query_min_len: 0 },
          value: '' }
      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_quicksearch_3' }
          Search REST Limit
        %input{ name: "sf_quicksearch_3",
          id: "sf_quicksearch_3",
          placeholder: '2 char min...',
          class: 'js-search-field form-control js-typeahead',
          data: { ki_fetch_url: search_xhr_search_index_path,
            ki_fetch_limit: 20,
            ki_fetch_query_min_len: 2 },
          value: '' }
      .form-group.col-12.col-sm-6.col-lg-3
        %label
          Zoo
        %input.form-control{ name: "foo2", id: "foo2" }
    .form-row
      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_select_1' }
          Quicksearch
        %select{ id: 'sf_select_1',
          class: 'form-control' }
          %option.text-muted{ value: '' }
            Select...
          %option{ selected: true, value: 1, data: { desc: 'jippo 1' } }
            Foo
          %option{ value: 2, data: { desc: 'jippo 2' } }
            Aoo
          %option{ value: 3, data: { desc: 'jippo 3' } }
            Boo
          %option{ value: 4, data: { desc: 'jippo 4' } }
            Coo
          %option{ value: 5, data: { desc: 'jippo 5' } }
            Doo

      .form-group.col-12.col-sm-6.col-lg-3
        %label{ for: 'sf_select_2' }
          Quicksearch
        %select{ id: 'sf_select_2',
          class: 'form-control' }
          %option.text-muted{ value: '' }
            Select...
          %option{ selected: true, value: 1, data: { desc: 'jippo 1' } }
            Foo
          %option{ value: 2, data: { desc: 'jippo 2' } }
            Aoo
          %option{ value: 3, data: { desc: 'jippo 3' } }
            Boo
          %option{ value: 4, data: { desc: 'jippo 4' } }
            Coo
          %option{ value: 5, data: { desc: 'jippo 5' } }
            Doo
