.tab-pane.fade#event{ role: "tabpanel", "aria-labelledby": "event_tab" }
  -####################
  .ki-section
    %button.btn.btn-success{ "ng-click": "ctrl.onEventStream()" }
      Get Events

    %div#event_data
