.tab-pane.fade.show.active#hello{ role: "tabpanel", "aria-labelledby": "hello_tab" }
  %input{ "ng-model": "ctrl.name" }
  .ki-section
    .input-group
      Hello there {{ ctrl.name }}

    .input-group
      %button.btn.btn-default
        = ki_icon(Icon::USER)
        Okey
      %button.btn.btn-danger{ "ng-click": "name=''" }
        Nope
