.tab-pane.fade#pollution{ role: "tabpanel", "aria-labelledby": "pollution_tab" }
  .ki-section
    .input-group
      %button.btn.btn-warning{ "ng-click": "ctrl.onPollute()" }
        POLLUTE

    .input-group
      {{ ctrl.pollute || 'missing'}}

    #pollute
      pollutes:
