.tab-pane.fade#select{ role: "tabpanel", "aria-labelledby": "select_tab" }
  .container-fluid.ki-section
    .row
      .form-group.col-md-4.col-offset-md-4
        %select#example_select{ multiple: "multiple" }
          %option>
            Option 1
          %option
            Option 2
          %option
            Option 3
          %option
            Option 4
          %option
            Option 5
