<% content_for :javascripts do %>
  <%= javascript_include_tag 'test/module' %>
<% end %>

<div ng-init="name='foo'">
  <input ng-model="name">
  <hr>

  <div class="input-group">
    Hello there {{ name }}
  </div>

  <div class="input-group">
    <button class="btn btn-default glyphicon glyphicon-user">Okey</button>
    <button class="btn btn-danger" ng-click="name=''">Nope</button>
  </div>
</div>
<div>
  <a href="/">Home</a>
</div>
