<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    'test/module', media: 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'test/module' %>
<% end %>

<div class="ki-padding-all">
  <div ng-controller="TestController as ctrl">
    <input ng-model="ctrl.name"/>
    <div class="ki-section">
      <div class="input-group">
        Hello there {{ ctrl.name }}
      </div>

      <div class="input-group">
        <button class="btn btn-default glyphicon glyphicon-user">Okey</button>
        <button class="btn btn-danger" ng-click="name=''">Nope</button>
      </div>
    </div>

    <div class="ki-section">
      <div class="input-group">
        <button class="btn btn-warn" ng-click="ctrl.onPollute()">POLLUTE</button>
      </div>
      <div class="input-group">
        {{ ctrl.pollute || 'missing'}}
      </div>
      <div id="pollute">
        pollutes:
      </div>
    </div>
  </div>

  <div class="container-fluid ki-section">
    <div class="row">
      <div class="form-group col-md-4 col-offset-md-4">
        <label for="test_toggle">toggle button</label>
        <div class="input-group">
          <span class="input-group-addon">prefix</span>
          <input type="text" class="form-control" style="width: 4em;"></input>
          <span class="input-group-addon2">&nbsp;</span>
          <input class="togglebutton input-group-addon"
                 type="checkbox"
                 id="test_toggle"
                 name="test_toggle"
                 value="true"
                 data-on-icon="glyphicon glyphicon-ok-sign"
                 data-off-icon="glyphicon glyphicon-minus-sign"
                 ></input>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ki-section">
    <div class="row">
      <div class="form-group col-md-4 col-offset-md-4">
        <label>toggle 2</label>
        <input class="togglebutton form-control"
               type="checkbox"
               id="test_toggle_2"
               name="test_toggle_2"
               value="true"
               data-on-text="foo"
               data-off-text="bar"></input>
      </div>
    </div>
  </div>

  <div class="container-fluid ki-section">
    <div class="row">
      <div class="form-group col-md-4 col-offset-md-4">
        <label>datetime selector</label>
        <input class="ki-js-datetime-input form-control"
               type="text"/>
      </div>
    </div>
  </div>

  <div class="container-fluid ki-section">
    <div class="row">
      <div class="form-group col-md-4 has-feedback">
        <label class="control-label">datetime selector 2</label>
        <input class="ki-js-datetime-input form-control"
               type="text"/>
        <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
      </div>
    </div>
  </div>

  <div class="container-fluid ki-section">
    <div class="row">
      <div class="form-group col-md-4 col-offset-md-4">
        <label>datetime selector 3</label>
        <div class="ki-js-inline-datetime-input">
        </div>
      </div>
    </div>
  </div>
  <div>
    <a href="/">Home</a>
  </div>
</div>
