<% content_for :javascripts do %>
  <%= javascript_include_tag 'test/module' %>
<% end %>

<div ng-init="name='foo'">
  <input ng-model="name">
  <hr>
  Hello there {{ name }}
</div>
<div>
  <a href="/">Home</a>
</div>
