= javascript_pack_tag 'cube3d'

.js-svelte-app


.fixed-bottom.border-top
  .float-right
    .m-2.mr-3
      %a{ href: 'https://github.com/kikonen/cube3d' }
        = image_tag('GitHub-Mark-32px.png', width: 16, height: !6)
        cube3d
