%h1
  Learn OpenGL

.h2
  Cubes 1

%video{ width: 320, height: 240, controls: true }
  %source{ src: "https://www.ikari.fi/video/kuutiot.mp4", type: "video/mp4" }
  Your browser does not support the video tag.

.h3
  Cubes 2

%video{ width: 320, height: 240, controls: true }
  %source{ src: "https://www.ikari.fi/video/kuutiot2.mp4", type: "video/mp4" }
  Your browser does not support the video tag.

.fixed-bottom.border-top.bg-white
  .float-right
    .m-2.mr-3
      %a{ href: 'https://github.com/kikonen/learnopengl' }
        = image_tag('GitHub-Mark-32px.png', width: 16, height: !6)
        learnopengl
