= javascript_pack_tag 'svelte_jumper'

.js-svelte-app


.fixed-bottom.border-top.bg-white
  .float-right
    .m-2.mr-3
      %a{ href: 'https://github.com/kikonen/svelte_jumper' }
        = image_tag('GitHub-Mark-32px.png', width: 16, height: !6)
        svelte_jumper
