%nav.navbar.navbar-expand-sm.navbar-light.bg-light
  %a.navbar-brand{ href: '/' }
    %span.sr-only= "Home"
    %span.fas.fa-home

  %button.navbar-toggler{ type: "button",
    data: { toggle: "collapse", target: "#main_navbar" },
    "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation" }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#main_navbar
    %ul.navbar-nav.mr-auto

      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_1", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Experiments

        .dropdown-menu{ 'aria-labelledby': "nav_menu_1" }
          %a.dropdown-item{ href: "/test" }
            Test

          .dropdown-divider

          %a.dropdown-item{ href: "/svelte_test/hello" }
            Svelte Hello world

          %a.dropdown-item{ href: "/svelte_test/typeahead" }
            Typeahead Svelte Demo

          %a.dropdown-item{ href: "/svelte_test/select" }
            Select Svelte Demo

      %li.nav-item
        %a.nav-link{ href: "/gi_raycaster" }
          Raycast

      %li.nav-item
        %a.nav-link{ href: "/gi_paint" }
          Paint

      %li.nav-item
        %a.nav-link{ href: "/gi_album" }
          Album
