%nav.navbar.navbar-expand-sm.navbar-light.bg-light
  %a.navbar-brand{ href: Rails.application.config.relative_url_root }
    %span.sr-only= "Home"
    %span.fas.fa-home

  %button.navbar-toggler{ type: "button",
    data: { toggle: "collapse", target: "#main_navbar" },
    "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation" }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#main_navbar
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_demo", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Demo

        .dropdown-menu{ 'aria-labelledby': "nav_menu_demo" }
          %a.dropdown-item{ href: typeahead_svelte_test_index_path }
            Typeahead Svelte Demo

          %a.dropdown-item{ href: select_svelte_test_index_path }
            Select Svelte Demo

          .dropdown-divider

          %a.dropdown-item{ href: '/slacker/ui' }
            Slacker

      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_experiment", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Experiments

        .dropdown-menu{ 'aria-labelledby': "nav_menu_experiment" }
          %a.dropdown-item{ href: svelte_jumper_experiments_path }
            Svelte Jumper

          %a.dropdown-item{ href: cube3d_experiments_path }
            Cube 3D

          %a.dropdown-item{ href: learnopengl_experiments_path }
            Learn OpenGL

      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_test", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Testing

        .dropdown-menu{ 'aria-labelledby': "nav_menu_test" }
          %a.dropdown-item{ href: test_path }
            Test

          .dropdown-divider

          %a.dropdown-item{ href: hello_svelte_test_index_path }
            Svelte Hello world

      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_app", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Applications

        .dropdown-menu{ 'aria-labelledby': "nav_menu_app" }
          %a.dropdown-item{ href: gi_raycaster_path }
            Raycast

          %a.dropdown-item{ href: gi_paint_root_path }
            Paint

          %a.dropdown-item{ href: gi_album_ui_path }
            Album
