%nav.navbar.navbar-expand-sm.navbar-light.bg-light
  %a.navbar-brand{ href: '/' }
    %span.sr-only= "Home"
    %span.fas.fa-home

  %button.navbar-toggler{ type: "button",
    data: { toggle: "collapse", target: "#main_navbar" },
    "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation" }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#main_navbar
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_demo", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Demo

        .dropdown-menu{ 'aria-labelledby': "nav_menu_demo" }
          %a.dropdown-item{ href: "/svelte_test/typeahead" }
            Typeahead Svelte Demo

          %a.dropdown-item{ href: "/svelte_test/select" }
            Select Svelte Demo

      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_experiment", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Experiments

        .dropdown-menu{ 'aria-labelledby': "nav_menu_experiment" }
          %a.dropdown-item{ href: "/experiments/svelte_jumper" }
            Svelte Jumper

          %a.dropdown-item{ href: "/experiments/cube3d" }
            Cube 3D

      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_test", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Testing

        .dropdown-menu{ 'aria-labelledby': "nav_menu_test" }
          %a.dropdown-item{ href: "/test" }
            Test

          .dropdown-divider

          %a.dropdown-item{ href: "/svelte_test/hello" }
            Svelte Hello world

      %li.nav-item.dropdown
        %a.text-dark.nav-link.dropdown-toggle{ href: "#", id: "nav_menu_app", role: "button",
          data: { toggle: "dropdown" },
          'aria-haspopup': "true", 'aria-expanded': "false" }
          Applications

        .dropdown-menu{ 'aria-labelledby': "nav_menu_app" }
          %a.dropdown-item{ href: "/gi_raycaster" }
            Raycast

          %a.dropdown-item{ href: "/gi_paint" }
            Paint

          %a.dropdown-item{ href: "/gi_album" }
            Album
